<div class="page-container">

  <app-header title="GitHub Users list" [icon]="false"></app-header>

  <div class="page-content">

    <mat-spinner *ngIf="!showContent" class="custom-spinner"></mat-spinner>

    <mat-nav-list>

      <app-list-item type="users" [data]="usersList"></app-list-item>

      <mat-paginator [pageIndex]="paginator?.pageIndex" [pageSizeOptions]="[10, 20, 50]"
        [pageSize]="paginator?.pageSize" (page)="tablePageChange($event)">
        <a>click</a>
      </mat-paginator>

    </mat-nav-list>
  </div>

</div>
