<div class="page-container">

  <app-header title="User Details Page" [icon]="true"></app-header>

  <div *ngIf="$user | async as u" class="page-content">

    <mat-card>

      <mat-card-header>
        <mat-card-title>{{u.login}}</mat-card-title>
        <mat-card-subtitle>Followers: {{u.followers}} | Following: {{u.following}}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image mat-card-lg-image [src]="u.avatar_url" [title]="u.login">

      <mat-card-content>

        <div class="repo-list" *ngIf="$repo | async as rp">
          <h2>List of repositories</h2>

          <mat-nav-list>
            <app-list-item type="repositories" [data]="rp"></app-list-item>
          </mat-nav-list>
        </div>

      </mat-card-content>

    </mat-card>

  </div>

</div>
