/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-list-item {
  min-height: 48px;
  height: auto !important;
  margin: 15px 0 !important;

  img {
    margin: 0 15px !important;
  }

  a {
    display: flex !important;
    align-items: center;

    img {
      margin: 15px;
    }
  }
}

.page-container {
  margin: 20px;
}
